@{
    ViewBag.Title = "Home Page";
}
<br />
<br>
@using (Html.BeginForm("Display","Home"))
{
    <table>
        <tr>
            <td>Parameter :</td>
            <td>@Html.TextBox("Name")</td>
        </tr>
        <tr>
            <td colspan=" 2">
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}